<h1 class="card-header">Login or sign up to create your blog!</h1>
{{#each blogs as |blog|}}
  <div class="card w-50 p-3">
    <h5 class="card-header">{{format_date blog.date_created}}
      {{name}}-
      {{blog.title}}</h5>
    <div class="card-body">
      <p class="card-text">{{blog.description}}</p>
    </div>
    <div class="input-group mb-3">
      <a href="/comments/id:" class="btn btn-outline-secondary">Click to add a comment</a>
    </div>
    <div id="allComments">{{comment.description}}</div>
  </div>
{{/each}}