<h1 class="card-header">Login or sign up to create your blog!</h1>
{{#each blogs as |blog| }}
  <div class="card">
  <h5 class="card-header">{{format_date blog.date_created}} {{user_name}}- User id: {{blog.user_id}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.description}}</p>
    <a href="/blog/" class="btn btn-primary">Go somewhere</a>
  </div>
    <p class="card-text">{{comment.description}}</p>
</div>
{{/each}}



{{!-- <div class="blog-post">
  <div class="blog-column">
    <a href="/blog/{{blog.user_id}}">{{blog.title}}</a>
  </div>
  <div>{{format_date blog.date_created}}</div>
  <div class="blog-description">
    <p>
      {{blog.description}}
    </p>
  </div>
</div> --}}