<h1 class="card-header">Login or sign up to create your blog!</h1>
{{#each blogs as |blog|}}
  <div class="card w-50 p-3">
    <h5 class="card-header">{{format_date blog.date_created}}
      {{name}}-
      {{blog.title}}</h5>
    <div class="card-body">
      <p class="card-text">{{blog.description}}</p>
    </div>
    <div class="input-group mb-3">
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon1"
      >Add your comment</button>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Example text with button addon"
        aria-describedby="button-addon1"
      />
    </div>
    <div id="allComments">{{comment.description}}</div>
  </div>
{{/each}}